.pet{
  height:20px;
  width:20px;
  background:url('https://s3.amazonaws.com/intranet-projects-files/holbertonschool-higher-level_programming+/268/icon_pets.png');
display:inline-block;
background-size:cover;
}
.wifi{
  height:20px;
  width:20px;
  background:url('https://s3.amazonaws.com/intranet-projects-files/holbertonschool-higher-level_programming+/268/icon_tv.png');
display:inline-block;
background-size:cover;
}
.tv{
  height:20px;
  width:20px;
  background:url('https://s3.amazonaws.com/intranet-projects-files/holbertonschool-higher-level_programming+/268/icon_wifi.png');
display:inline-block;
background-size:cover;
}
.places {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  width: 100%;
}



.places article {
  border: 1px solid #ff5a5f;
  border-radius: 4px;
  margin: 25px;
  padding: 20px;
  width: 390px;
}


.places .name_and_price {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 20px;
}

.places .price_by_night {
  align-items: center;
  border: 4px solid #ff5a5f;
  border-radius: 50%;
  color: #ff5a5f;
  display: flex;
  font-size: 30px;
  height: 60px;
  justify-content: center;
  min-width: 60px;
}

.places .information {
  align-items: center;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  display: flex;
  flex-direction: row;
  height: 80px;
  justify-content: space-around;
  text-align: center;
}

.places .max_guest,
.places .number_rooms,
.places .number_bathrooms{
  width: 105px;
}


.places .user {
  margin: 20px auto 20px auto;
}

.places .amenities,
.places .reviews {
  margin-top: 40px;
}

.places .amenities li {
  display: flex;
  flex-direction: row;
}

.places .amenities i {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-right: 10px;
  width: 5%;
}

/* Align amenity text with icon */
.places .amenities p {
  margin-top: 20px;
}

ol, ul {
  list-style: none;
}
/* Header 1 style */
.places h1 {
  font-size: 30px;
  font-weight: bold;
  margin: .67em 0 .67em 0;
  width: 100%;
}

/* Header 2 style */
.places h2 {
  font-size: 30px;
  font-weight: bold;
  margin: 0 auto;
  text-align: center;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

/* Amenities and reviews header 2 style */
.places .amenities h2,
.places .reviews h2 {
  border-bottom: 1px solid #ddd;
  font-size: 16px;
  font-weight: bold;
  padding-bottom: 10px;
  text-align: left;
}

/* Reviews header 3 style */
.places .reviews h3 {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 6px;
  margin-top: 20px;
}

footer {
  position: relative;
}
