*{
 padding:0;
 margin:0;
}
body {
    color: #484848;
    font: 14px Circular,"Helvetica Neue",Helvetica,Arial,sans-serif;
}

.container {
    max-width: 1000px;
    margin: 30px auto;
    bottom: 30px;
}
